:root {
  /* LUMOFULL Theme */
  --background: #f5f7fa;
  --foreground: #081426;

  --primary: #081426;
  --secondary: #667085;
  --accent: #1769ff;

  --surface: #eef1f5;
  --border: #d9dee7;
  --icon: #081426;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  max-width: 100vw;
  overflow-x: hidden;

}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-poppins),Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  color: inherit;
}